<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <!-- que merda como se coloca um comentário -->
  <!--
  <connectionStrings>
    <add name="Conecta_Financeiro"
         connectionString="Data Source=win10\CC; 
                           Initial Catalog=IS_SisAdmin; 
                           User ID=sa;
                           Password=123"
                           providerName="System.Data.SqlClient"/>
  </connectionStrings>
  -->  
  
</configuration>
